Load packages and import the data

In [2]:
from aocd import get_data
import pandas as pd

day3 = get_data(day=3,year=2021).split()

day3[:10]

['010001110001',
 '110100000001',
 '111001001011',
 '111100001000',
 '000111101001',
 '101111001001',
 '111111000110',
 '000101110010',
 '001101001010',
 '000110001101']

Looks like this would be easiest in Pandas again.

In [3]:
df = pd.DataFrame([[j for j in i] for i in day3])
df.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  0  1  0  0  0  1  1  1  0  0  0  1
1  1  1  0  1  0  0  0  0  0  0  0  1
2  1  1  1  0  0  1  0  0  1  0  1  1
3  1  1  1  1  0  0  0  0  1  0  0  0
4  0  0  0  1  1  1  1  0  1  0  0  1

Using list comprehension, and then converting from binary to base-10

In [4]:
int(''.join([df[i].mode().tolist()[0] for i in df.columns]))

100100101010

In [5]:
gamma = int(''.join([df[i].mode().tolist()[0] for i in df.columns]),2)
gamma

2346

In [6]:
df.mode()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  0  0  1  0  0  1  0  1  0  1  0

In [7]:
epsilon = int(''.join([str(1-int(df[i].mode().tolist()[0])) for i in df.columns]),2)
epsilon

1749

In [8]:
gamma * epsilon

4103154

That's the answer! On to part 2.

In [40]:
df1 = df
i = 0
while len(df1)>1:
    if df1[i].eq('1').sum() >= df1[i].eq('0').sum():
        df1 = df1[df1[i]=='1']
    else:
        df1 = df1[df1[i]=='0']
    if i<11:
        i = i+1
    else:
        i = 0
    print(len(df1))
ox_rating = int(''.join([df1[i].tolist()[0] for i in df.columns]),2)
ox_rating

511
263
134
71
36
20
12
8
5
3
2
1

3399

In [41]:
df1 = df
i = 0
while len(df1)>1:
    if df1[i].eq('1').sum() < df1[i].eq('0').sum():
        df1 = df1[df1[i]=='1']
    else:
        df1 = df1[df1[i]=='0']
    if i<11:
        i = i+1
    else:
        i = 0
    print(len(df1))
co2_rating = int(''.join([df1[i].tolist()[0] for i in df.columns]),2)
co2_rating

489
235
109
54
24
11
4
2
1

1249

In [42]:
ox_rating * co2_rating

4245351

Got it!