In [3]:
from aocd import get_data
import numpy as np

day6 = get_data(day=6,year=2021)

In [4]:
lf = np.array([int(i) for i in day6.split(',')])

In [5]:
for i in range(80):
    lf = lf - 1
    newfish = np.sum(lf<0)
    lf = np.where(lf<0,6,lf)
    lf = np.append(lf,np.ones(newfish)*8)
    print(len(lf))

300
474
502
532
565
600
600
600
774
802
1006
1067
1132
1165
1200
1374
1402
1780
1869
2138
2232
2332
2539
2602
3154
3271
3918
4101
4470
4771
4934
5693
5873
7072
7372
8388
8872
9404
10464
10807
12765
13245
15460
16244
17792
19336
20211
23229
24052
28225
29489
33252
35580
38003
42565
44263
51454
53541
61477
65069
71255
78145
82266
94019
97804
112931
118610
132732
143214
153521
172164
180070
206950
216414
245663
261824
286253
315378
333591
379114

Done part 1!

In [6]:
lf = np.array([int(i) for i in day6.split(',')])

This must be much, much more efficient because of the exponential growth.

In [7]:
nfish = np.array([np.sum(lf==i) for i in range(9)])
for i in range(80):
    newfish = nfish[0]
    for j in range(0,8):
        nfish[j] = nfish[j+1]
    nfish[6] = nfish[6] + newfish
    nfish[8] = newfish
    print(np.sum(nfish))

300
474
502
532
565
600
600
600
774
802
1006
1067
1132
1165
1200
1374
1402
1780
1869
2138
2232
2332
2539
2602
3154
3271
3918
4101
4470
4771
4934
5693
5873
7072
7372
8388
8872
9404
10464
10807
12765
13245
15460
16244
17792
19336
20211
23229
24052
28225
29489
33252
35580
38003
42565
44263
51454
53541
61477
65069
71255
78145
82266
94019
97804
112931
118610
132732
143214
153521
172164
180070
206950
216414
245663
261824
286253
315378
333591
379114

In [9]:
nfish = np.array([np.sum(lf==i) for i in range(9)],dtype=np.longlong)
for i in range(256):
    newfish = nfish[0]
    for j in range(0,8):
        nfish[j] = nfish[j+1]
    nfish[6] = nfish[6] + newfish
    nfish[8] = newfish
print(np.sum(nfish))

1702631502303