In [26]:
from aocd import get_data
import numpy as np
import pandas as pd

day5 = get_data(day=5,year=2021)

In [34]:
df = pd.DataFrame([[int(j) for j in i.replace(' -> ',',').split(',')] for i in day5.split('\n')],columns=['x1','y1','x2','y2'])
df.head()

    x1   y1   x2   y2
0  365  809  365  271
1  899  814  899  921
2  967  913  434  913
3  971  362  631  362
4  597  422  597  575

In [35]:
df.max()

x1    987
y1    989
x2    988
y2    988
dtype: int64

In [58]:
lines = np.array([[int(j) for j in i.replace(' -> ',',').split(',')] for i in day5.split('\n')])
np.shape(lines)

(500, 4)

In [66]:
nlines = np.zeros((1000,1000))
for l in lines:
    [x1,y1,x2,y2] = l
    if x1==x2:
        for j in range(np.minimum(y1,y2),np.maximum(y1,y2)+1):
            nlines[x1,j] += 1
    if y1==y2:
        for i in range(np.minimum(x1,x2),np.maximum(x1,x2)+1):
            nlines[i,y1] += 1

In [70]:
np.sum(nlines > 1)

6710

Done! Entirely too much screwing around with loops etc and I'm sure it's not efficient. Whatever.

In [87]:
nlines = np.zeros((1000,1000))
for l in lines:
    [x1,y1,x2,y2] = l
    if x1==x2:
        for j in range(np.minimum(y1,y2),np.maximum(y1,y2)+1):
            nlines[x1,j] += 1
    elif y1==y2:
        for i in range(np.minimum(x1,x2),np.maximum(x1,x2)+1):
            nlines[i,y1] += 1
    else:
        for i in range(np.maximum(x1,x2)-np.minimum(x1,x2)+1):
            xdir = (x2>x1)*1 + (x2<x1)*-1
            ydir = (y2>y1)*1 + (y2<y1)*-1
            x = x1+i*xdir
            y = y1+i*ydir
            nlines[x,y] += 1
print(np.sum(nlines > 1))

20121

Got it!