Load packages and import the data

In [5]:
from aocd import get_data
import pandas as pd

day3 = get_data(day=3,year=2021).split()

day3[:10]

['010001110001',
 '110100000001',
 '111001001011',
 '111100001000',
 '000111101001',
 '101111001001',
 '111111000110',
 '000101110010',
 '001101001010',
 '000110001101']

Looks like this would be easiest in Pandas again.

In [15]:
df = pd.DataFrame([[j for j in i] for i in day3])
df.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  0  1  0  0  0  1  1  1  0  0  0  1
1  1  1  0  1  0  0  0  0  0  0  0  1
2  1  1  1  0  0  1  0  0  1  0  1  1
3  1  1  1  1  0  0  0  0  1  0  0  0
4  0  0  0  1  1  1  1  0  1  0  0  1

Using list comprehension, and then converting from binary to base-10

In [27]:
int(''.join([df[i].mode().tolist()[0] for i in df.columns]))

100100101010

In [30]:
gamma = int(''.join([df[i].mode().tolist()[0] for i in df.columns]),2)
gamma

2346

In [35]:
df.mode()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  0  0  1  0  0  1  0  1  0  1  0

In [45]:
epsilon = int(''.join([str(1-int(df[i].mode().tolist()[0])) for i in df.columns]),2)
epsilon

1749

In [46]:
gamma * epsilon

4103154

That's the answer! On to part 2.